body{
    background-image: linear-gradient(to right,#c2dea8a4,#96AB82);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 40px;
    color: #445E2B;
}

p{
    font-size: 30px;
    color: #535E48;

}

#mission{
    color: #0b640e;
}